<div class="container-fluid">
    <h1 class="mt-2">Map</h1>
    <div class="row">
        <div class="col-9">
            <mat-card>
                <h2>Belgique</h2>
                <div id="map-id-1" style="height: 700px"></div>
            </mat-card>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <mat-card>
                        <h2>Résumé</h2>
                        <h3>F64-10: 9 machines</h3>
                        <h3>F100-10: 21 machines</h3>
                        <h3>F110-10: 1 machine</h3>
                        <h3>F180-50: 11 machines</h3>
                        <h3>F200-50: 4 machines</h3>
                        <mat-divider></mat-divider>
                        <h3>Total: 46 machines</h3>
                    </mat-card>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <mat-card>
                        <h2>Légende:</h2>
                        <h3>F64-10:</h3>
                        <h3>F100-10<br>F110-10</h3>
                        <h3>F180-50<br>F200-50</h3>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

