<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <h1 class="mt-4"> ON-OFF</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button mat-raised-button color="primary" (click)="openDialog()">Ajouter une éolienne</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-lg-6">
            <fairwind-wind-turbine-table></fairwind-wind-turbine-table>
        </div>
        <div class="col-12 col-lg-6">
            <fairwind-wind-turbine-table></fairwind-wind-turbine-table>
        </div>
    </div>
</div>
