<h1 class="mt-3">Fairwind dashboard</h1>
<div class="row">
    <div class="col-xl-6">
        <fairwind-wind-turbine-table></fairwind-wind-turbine-table>
    </div>
    <div class="col-xl-6">
        <div class="row">
            <div class="col">
                <mat-card>
                    <h2>Parc Fairwind</h2>
                    <h4>Puissance Instantannée: 3.3 kW</h4>
                    <h4> Nombre de machines en fonctionnement: 2 /46 (4%)</h4>
                    <h4>Production historique: 1725751 kWh</h4>
                    <h4>CO2 Economisé: 776,59 T</h4>
                </mat-card>
            </div>
        </div>
        <div class="row mt-4">
            <mat-card>
                <fairwind-map></fairwind-map>
            </mat-card>
        </div>
        <div class="row mt-3">
            <div class="col">
                <mat-card>
                    <fairwind-bar-chart></fairwind-bar-chart>
                </mat-card>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <mat-card>
                    <h2>Parc Machine</h2>
                    F64-10: 9 machines [90 kW]<br>
                    F64-10: 9 machines [210 kW]<br>
                    F64-10: 9 machines [10 kW]<br>
                    F64-10: 9 machines [550 kW]<br>
                    F64-10: 9 machines [200 kW]<br>
                    <hr style="width:50%;text-align:left;margin-left:0">
                    Total: 46 MACHINES [1060 kW]
                </mat-card>
            </div>
        </div>
    </div>
</div>

