<div class="container-fluid">
    <h1>Fairwind dashboard</h1>

    <div class="row">
        <div class="col-6">
            <fairwind-wind-turbine-table></fairwind-wind-turbine-table>
        </div>
        <div class="col-6">
            <div class="row ">
                <div class="row ">
                    <div class="col-6">
                        <button mat-raised-button color="basic">Moyenne 10</button>
                    </div>
                    <div class="col-6">
                        <button mat-raised-button color="basic">Arret Machine</button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <button mat-raised-button color="basic">Index Journalier</button>
                    </div>
                    <div class="col-6">
                        <button mat-raised-button color="basic">Adresses IP</button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <button mat-raised-button color="basic">Map</button>
                    </div>
                    <div class="col-6">
                        <button mat-icon-button class="example-icon"
                                aria-label="Example icon-button with share icon">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-card>
                            Puissance Instantannée du Parc Fairwind<br>
                            3.3 kW
                        </mat-card>
                    </div>
                    <div class="col-6">
                        <mat-card>
                            Puissance Instantannée du Parc Fairwind<br>
                            3.3 kW
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-card>
                            Nombre de machines en fonctionnement<br>
                            2 /46 (4%)
                        </mat-card>
                    </div>
                    <div class="col-6">
                        <mat-card>
                            Production historique du parc Fairwind<br>
                            1725751 kWh
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-card>
                            CO2 Economisé<br>
                            776,59 T
                        </mat-card>
                    </div>

                </div>
            </div>
            <div class="row">
                map
            </div>
            <div class="row">
                Parc machine
            </div>
        </div>
    </div>

</div>

