<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
            aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Fairwind</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/home" aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/notifications" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container style="height: 100%">
    <mat-drawer #drawer mode="side" opened>
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/dashboard">
                    <mat-icon color="primary">dashboard</mat-icon>
                    Dashboard
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/table-data">
                    <mat-icon color="primary">table_chart</mat-icon>
                    Tableau de données
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/line-chart">
                    <mat-icon color="primary">show_chart</mat-icon>
                    Graphique en ligne
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/user">
                    <mat-icon color="primary">person</mat-icon>
                    Utilisateur
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


