<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
                aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Fairwind</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/home" aria-label="Example icon-button with heart icon">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button routerLink="/notifications" aria-label="Example icon-button with heart icon">
            <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>person</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer [autoFocus]="false" [mode]="isMobile ? 'over': 'side'" opened>
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/dashboard">
                    <mat-icon color="primary">dashboard</mat-icon>
                    Dashboard
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/detail">
                    <mat-icon color="primary">details</mat-icon>
                    Détail
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/table-data">
                    <mat-icon color="primary">table_chart</mat-icon>
                    Tableau de données
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/line-chart">
                    <mat-icon color="primary">show_chart</mat-icon>
                    Graphique en ligne
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/map">
                    <mat-icon color="primary">map</mat-icon>
                    Map
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/average10">
                    <mat-icon color="primary">table_chart</mat-icon>
                    Moyenne 10
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/report">
                    <mat-icon color="primary">wallpaper</mat-icon>
                    Rapport
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/address-ip">
                    <mat-icon color="primary">table_chart</mat-icon>
                    Adresses IP
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/user">
                    <mat-icon color="primary">person</mat-icon>
                    Arret Machine
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/user">
                    <mat-icon color="primary">person</mat-icon>
                    Utilisateur
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/settings">
                    <mat-icon color="primary">settings</mat-icon>
                    Paramètres
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container-fluid">
                <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>


