table {
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: lawngreen;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.mat-row {
  height: auto !important;
}

.mat-cell {
  margin: 8px 8px 8px 0 !important;
}
