<div class="container-fluid">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <fairwind-global-line-chart canvasId="canvas1"></fairwind-global-line-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <fairwind-global-line-chart canvasId="canvas2"></fairwind-global-line-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <fairwind-global-line-chart canvasId="canvas3"></fairwind-global-line-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <fairwind-global-line-chart canvasId="canvas4"></fairwind-global-line-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <fairwind-global-line-chart canvasId="canvas5"></fairwind-global-line-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <fairwind-global-line-chart canvasId="canvas6"></fairwind-global-line-chart>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

